.keys {
  min-height: 100vh;
}

.key {
  border-top: 1px solid #4444;
  display: flex;
  align-items: center;
  padding-left: .2em;
  background-color: #eee;
  user-select: none;
}

.black-key {
  background-color: black;
}

.active {
  background-color: #0ff;
}