.top-bar-transport {
  display: flex;
  align-items: center;
}

.play,
.pause,
.stop {
  font-size: 2em;
}

.settings {
  font-size: 1.6em;
}

.disabled {
  color: orange;
}

.disabled:hover {
  color: orange;
  cursor: default;
}

.bpm-label {
  margin-left: .8em;
  margin-right: .2em;
  font-size: large;
  cursor: default;
}

.bpm-input {
  width: 3.1em;
  outline: none;
  border: none;
  background-color: transparent;
  color: cyan;
  padding: 2px 4px;
  font-family: 'Roboto Mono Variable', sans-serif;
  font-size: large;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  caret-color: orange;
}

input[type=number] {
  appearance: textfield;
  caret-color: orange;
}

.time {
  font-weight: bold;
  font-size: large;
  width: 6em;
  font-family: 'Roboto Mono Variable', sans-serif
}

.vertical,
.horizontal {
  display: flex;
  align-items: center;
}

.horizontal {
  margin-left: 1em;
}

.vertical span,
.horizontal span {
  cursor: default;
}

.horizontal span {
  rotate: 90deg;
}

input[type=range] {
  appearance: none;
  width: 6em;
  height: 2px;
  border: none;
  border-radius: 3px;
  background-color: white;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: cyan;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: cyan;
  border-radius: 50%;
}