.top-bar-transport {
  display: flex;
  align-items: center;
}

.play,
.pause,
.stop {
  font-size: 2em;
}

.settings {
  font-size: 1.6em;
}

.disabled {
  color: orange;
}

.disabled:hover {
  color: orange;
  cursor: default;
}

.bpm-label {
  margin-left: .8em;
  margin-right: .2em;
  font-size: large;
  cursor: default;
}

.bpm-input {
  width: 3.1em;
  outline: none;
  border: none;
  background-color: transparent;
  color: cyan;
  padding: 2px 4px;
  font-family: 'Roboto Mono Variable', sans-serif;
  font-size: large;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  caret-color: orange;
}

input[type=number] {
  appearance: textfield;
  caret-color: orange;
}

.time {
  font-weight: bold;
  font-size: large;
  width: 5.7em;
  font-family: 'Roboto Mono Variable', sans-serif;
  user-select: none;
}
