.top-bar {
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: #000;
  color: white;
  padding: 0 8px;
}

.icon {
  cursor: pointer;
  user-select: none;
  transition: .1s ease-out;
}

.icon:hover {
  color: #0ff;
}
