.top-bar {
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: #000;
  color: #fff;
  padding: 0 8px;
}

.icon {
  cursor: pointer;
  user-select: none;
  transition: .1s ease-out;
}

.vertical,
.horizontal {
  display: flex;
  align-items: center;
}

.horizontal {
  margin-left: 1em;
}

.vertical span,
.horizontal span {
  cursor: default;
}

.horizontal span {
  rotate: 90deg;
}

input[type=range] {
  appearance: none;
  width: 6em;
  height: 2px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #0ff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #0ff;
  border-radius: 50%;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: .5em;
  flex: 1;
  justify-content: end;
}

.icons span {
  font-size: 1.7em;
}

.undo {
  margin-right:.4em;
  margin-left: .8em;
}

.undo,
.redo {
  transition: none;
}

.undo.disabled,
.redo.disabled,
.help.disabled {
  color: white;
  filter: brightness(.4);
}