.note {
  background: var(--highlight);
  opacity: .8;
  display: flex;
  justify-content: end;
}

.selected {
  opacity: 1;
  background: var(--highlight);
  box-shadow: 0px 0px 8px var(--highlight);
  cursor: grab;
  user-select: none;
}

.selected:active {
  cursor: grabbing;
}

.resize-handler {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}