.note {
  position: absolute;
  background: #0ff;
  opacity: 1;
  display: flex;
  justify-content: end;
}

.selected {
  background: #0ff;
  box-shadow: 0px 0px 8px #0ff;
  border: 1px solid black;
  cursor: grab;
  user-select: none;
}

.selected:active {
  cursor: grabbing;
}

.resize-handler {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

.velocity-handler {
  width: 12px;
  height: 100%;
  position: absolute;
  bottom: -110%;
  left: calc(50% - 6px);
  pointer-events: all;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  cursor: ns-resize;
}

.velocity-indicator {
  width: 4px;
  background: #0ff;
  border: 1px solid black;
  pointer-events: none;
}
