.piano-roll {
  display: flex;
}

.piano-roll::-webkit-scrollbar { display: none;}

.keys-container {
  width: 7em;
  flex-shrink: 0;
}

.timeline-container {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
}

.timeline-container::-webkit-scrollbar { display: none;}