.transport {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3359;
  color: white;
  padding: 1.4em 2em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
  user-select: none;
}

.transport button {
  width: 4em;
  height: 2em;
  background-color: #335;
  color: white;
  cursor: pointer;
}

.transport button:disabled {
  color: rgba(255, 255, 255, 0.274);
}

.bpm {
  cursor: ns-resize;
}

.time {
  width: 4.3em;
}