.timeline {
  background-color: var(--timeline-bg);
  width: 100vw;
  height: 2rem;
  display: grid;
  align-items: end;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc5;
}

.timeline-step {
  height: 12px;
  width: 1px;
  background-color: #ccc5;
}