.playback {
  position: fixed;
  bottom: 3.5em;
  width: 100%;
  padding: .6em 1em;
  background-color: #aaa2;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.playback .icons {
  display: flex;
  align-items: center;
}

.playback .play {
  font-size: 2.5em;
}

.playback .favorite {
  margin-left: .5em;
  margin-right: .2em;
}