.song-card {
  width: 15em;
  height: 5em;
  background-color: #aaa2;
  backdrop-filter: blur(10px);
  padding: 0 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.song-card button {
  font-size: 2.4em;
}

.waveform {
  position: absolute;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
}