.clip {
  background-color: rgba(0, 255, 255, 0.849);
  height: 3rem;
  cursor: pointer;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #223;
}

.selected {
  cursor: grab;
  border: 1px solid white;
}

