.clip {
  background-color: rgba(0, 255, 255);
  height: 3rem;
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  z-index: 1002;
  box-shadow: 0 0 4px #111a;
}

.selected {
  cursor: grab;
  border: 1px solid white;
}

