:root {
  --playlist-bg: #000;
  --timeline-bg: #1e1e2e;
  --track-bg: #313449
}

.playlist {
  background-color: var(--playlist-bg);
  min-height: 100vh;
  color: white;
  user-select: none;
}

.tracks {
  display: flex;
  flex-direction: column;
}

.track {
  display: flex;
}

.track-controls-container {
  width: 200px;
  flex-shrink: 0;
}

.clips-timeline.container {
  flex-grow: 1;
  overflow-x: auto;
}

.add-track {
  cursor: pointer;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
  background: transparent;
  border-radius: 50%;
  padding: .4rem;
  border: 1px solid #FFFd;
  color: white;
  font-size: 1rem;
  display: grid;
  place-items: center;
}

.add-track:active {
  background-color: #FFF2;
}