.timeline {
  width: 100%;
  height: 100%;
  height: 2rem;
  display: grid;
  align-items: end;
  z-index: 1000;
  pointer-events: none;
}

.timeline-step {
  height: 0px;
  width: 1px;
  z-index: 1001;
}