.track-timeline {
  height: 3rem;
  background-color: var(--track-bg);
  min-width: 300vw;
}

.clips {
  background-color: #1a1a2a;
  display: grid;
  gap: 10px;
  height: 3rem;
  position: relative;
}

.add-clip-button {
  position: absolute;
  z-index: 2;
  width: 3em;
  height: 3em;
  background-color: #eee;
  border: none;
  color: black;
  padding: .2rem .4rem;
  border-radius: 50%;
  font-size: .7rem;
  cursor: pointer;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
}

.step-count-highlight {
  height: 3rem;
  background-color: #223;
  position: absolute;
  pointer-events: none;
}