.tracks-container {
  display: flex;
}

.track-controls-container {
  width: 14em;
  flex-shrink: 0;
}

.clips-timeline-container {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
}
