.piano-roll * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.piano-roll {
  display: flex;
  position: relative;
  overflow-x: auto;
  height: 96vh;
  overflow-y: hidden;
}

.piano-roll::-webkit-scrollbar {
  display: none;
}

.zoom {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #335;
  opacity: 0.7;
  z-index: 2;
}

.keys-container {
  flex-shrink: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.timeline-container {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #1114;
  color: white;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
