@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-mono";

:root {
  font-family: "Inter Variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Inter Variable", sans-serif;
}

body.grabbing-cursor,
body.grabbing-cursor * {
  cursor: grabbing !important;
}

body[data-theme="light"] {
  --primary: #00ffff;
  --highlight: #00ffff;
  --text: #fdfdff;
  --bg: #000a0a;
}

body[data-theme="dark"] {
  --primary: #00ffff;
  --highlight: #00ffff;
  --text: #fdfdff;
  --bg: #000a0a;
}
