.sample-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #20313aaa;
  backdrop-filter: blur(10px);
  color: #cff;
  padding: .4rem .4rem;
  padding-right: 4rem;
  width: 280px;
  height: 360px;
  border-radius: 10px;
}

.sample-list h3 {
  margin-left: .2rem;
  margin-bottom: .4rem;
  cursor: default;
}

.sample-list hr {
  border: none;
  background: #cffd;
  height: 1px;
  width: 280px;
  position: absolute;
  left: 0;
}

.sample-list ul {
  list-style: none;
  margin-top: 1rem;
  width: 262px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #334 transparent;
}

.sample-list span {
  font-weight: 500;
  letter-spacing: .1ch;
  cursor: pointer;
  padding-left: .2rem;
}

.selected {
  background-color: #cff;
  color: #20313a;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: .8rem 1rem;
  background: transparent;
  border: none;
  color: #cff;
  cursor: pointer;
}