.track-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.track-name {
  cursor: pointer;
  width: 80px;
  padding: .2rem;
  border: 1px solid transparent;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.track-name:hover {
  border: 1px solid white;
}

.steps {
  display: flex;
}

.step {
  width: 2rem;
  height: 3rem;
  background-color: #2a2a3a;
  border: 1px solid #1123;
  cursor: pointer;
}

.step.other-color {
  background-color: #334;
}

.step.active {
  background-color: rgb(251, 143, 255);
}

.step.current {
  filter: brightness(1.2);
}

.velocity-input {
  flex: 1;
}

input[type="range"] {
  float: right;
  background-color: transparent;
  appearance: none;
  width: 100px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: greenyellow;
  border-radius: 9999px;
  cursor: grab;
  margin-top: -3px;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: #334;
  height: 8px;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: greenyellow;
  border-radius: 9999px;
  cursor: grab;
  margin-left: -4px;
}

input[type="range"]::-ms-track {
  appearance: none;
  background: #334;
  width: 4px;
}

.mute-unmute {
  flex: 1;
}

.mute-unmute input {
  float: right;
  width: 10px;
  height: 20px;
  border-radius: 9999px;
  border: none;
  background: greenyellow;
  cursor: pointer;
}

.mute-unmute input.muted {
  background: #d3d3d388;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #233a;
  backdrop-filter: blur(10px);
  margin-left: 4rem;
  margin-top: 4rem;
  border: 1px solid #eee2;
}

.options button {
  background: transparent;
  border: none;
  color: #eeed;
  text-align: start;
  padding: .6rem .4rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.options button:hover {
  border: 1px solid #eeed;
}