.track-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.track-name {
  cursor: pointer;
  width: 80px;
  padding: .2rem;
  border: 1px solid transparent;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.track-name:hover {
  border: 1px solid white;
}

.steps {
  display: flex;
}

.velocity-input {
  flex: 1;
}

input[type="range"] {
  float: right;
  appearance: none;
  width: 100px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: greenyellow;
  border-radius: 9999px;
  cursor: grab;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #334;
  height: 8px;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: greenyellow;
  border-radius: 9999px;
  cursor: grab;
  margin-left: -4px;
}

input[type="range"]::-ms-track {
  background: #334;
  height: 8px;
}

.mute-unmute {
  flex: 1;
}

.mute-unmute input {
  float: right;
  width: 10px;
  height: 20px;
  border-radius: 9999px;
  border: none;
  background: greenyellow;
  cursor: pointer;
}

.mute-unmute input.muted {
  background: #d3d3d388;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #1a2424aa;
  backdrop-filter: blur(10px);
  margin-left: 4rem;
  margin-top: 4rem;
  border: 1px solid #eee2;
  z-index: 1;
}

.options button {
  background: transparent;
  border: none;
  color: #eeee;
  text-align: start;
  padding: .6rem .4rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.options button:hover {
  background: #1a2424;
  color: #eee;
}